<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IvySurvey</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://apis.google.com/js/api:client.js"></script>
    <meta
      name="google-signin-client_id"
      content="782740102672-mfc1do9oq50mpedecc92fmiu981ks69n.apps.googleusercontent.com"
    />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow"
      >
        <div class="container-fluid p-0">
          <a
            class="navbar-brand"
            asp-area=""
            asp-controller="Home"
            asp-action="Index"
            class="w-25 h-25"
          >
            <img
              src="https://ivymobility.com/wp-content/uploads/2016/11/rsz_ivy_logo_2016.png"
              width="80%"
              height="80%"
              alt=""
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
          >
            <!-- <partial name="_LoginPartial" /> -->
            <ul class="navbar-nav flex-grow-1">
              <li class="nav-item">
                <a
                  class="nav-link text-dark"
                  asp-area=""
                  asp-controller="Home" asp-action="Index" >Home</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-dark"
                  asp-area=""
                  asp-controller="Home"
                  asp-action="Privacy"
                  >Response</a>
              </li>
              <li class="nav-item ml-auto" id="GButton">
                <div
                  class="g-signin2 social_signin"
                  data-onsuccess="onSignIn"
                ></div>
                    <!-- data-onsuccess="onSignIn" -->
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <main role="main" class="pb-3">
        @RenderBody()
      </main>
    </div>
    <footer class="border-top footer text-muted">
      <div class="container">
        &copy; 2020 - IvySurvey -
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
      </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        function onSignIn(googleUser) {
        //   var profile = googleUser.getBasicProfile();
        //   console.log("ID: " + profile.getId());
        //   console.log("Name: " + profile.getName());
        //   console.log("Image URL: " + profile.getImageUrl());
        //   console.log("Email: " + profile.getEmail());
          var id_token = googleUser.getAuthResponse().id_token;
          getIdToken(id_token);
          
        }  
        function getIdToken(id_token)
        {
          console.log(id_token)
          if(!localStorage.getItem('token'))
          {
            $.ajax({
               type:'POST',
               url:'https://localhost:5001/Auth/Authenticate',
               contentType: "application/json; charset=utf-8",  
               dataType: "json",  
              data:JSON.stringify({'access_token':id_token}),
              complete:function(res)
              {
                localStorage.setItem('token',res.responseText);
              }
           })
        }
        }
        </script>
  </body>
</html>
